# Terraform state files
*.tfstate
*.tfstate.backup
#*.tfvars   have this line in when using a working repo 

# Terraform crash logs
crash.log

# .terraform directories
.terraform/

# AWS CLI credentials
*.pem
*.key
*.env

# OS files
.DS_Store
*.swp